html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body{
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

body,h1,h2,h3,h4,h5,h6,span,p,li,ul{
	margin:0px;
	padding:0px;
}
.logo_name .name h1{
	font-weight: 400;
}

.nav-bar ul li a{
	text-decoration: none;
	font-weight: bold;
	color: #009999;
}

.header{
	background-color: #e6e6e6;
}


.logo_name{
	display: flex;	
	align-items: center;
	width: inherit;
	position: relative;
}


.logo{
	padding: 10px;
}

.name h1{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
}

.logo img{
	width: 100px;
}

ul{
	background-color: #b3b3b3;
	text-align: right;
	padding: 10px;
	margin:0px;
}

li{
	padding: 10px;
	display: inline;
}

#home{
	background-color: #8a8a5c;
}

#profile{
	background-color: #734d26
}

#services{
	background-color: #8a8a5c;
}

#team{
	background-color: #734d26;
}
#contact{
	background-color: #8a8a5c;
}
#work_with_us{
	background-color: #734d26;
}
#footer{
	background-color: #404040;
}
#footer_sitemap{
	background-color: #9d9ea0;
}

section{
	width: 100%;
	padding: 20px;

}

/*home part css */

#home .image_caption{
	text-align: center;
}

#home .image_caption .image img{
	margin: auto;
	width: 650px;
}

/* profile part css */
#profile .caption{
	text-transform: uppercase;
	text-align: center;
}

#profile .second_section{
	display: flex;
}
#profile .second_section .ceo_pic span{
	text-align: center;
}
/*#profile .second_section .ceo_pic{
	justify-content: center;
	padding-bottom: 40px 30px;
}*/

#profile .ceo_content p{
	padding: 40px 30px;
}

/* services part css */

#services .work_description{
	padding: 20px auto;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}
#services .deal_with{
	display: flex;
}

#services .deal_with .works img{
	filter: grayscale(100%);
	opacity: 0.8;
	padding: 40px 30px 10px 30px;
}
#services .deal_with .works img:hover{
	filter: grayscale(0%);
	opacity: 1;

}


/*team part css */
#team .team_caption h3{
	padding-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}
#team .team_member{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	/*max-width: 500px;*/
	box-shadow: 0 4px 8px 0;
	text-align: center;
}

#team .team_member .card{
	padding: 10px;
	margin: 10px;
}

#team .team_member .card a{
	padding: 10px;
	text-decoration: none;
	color: #002266;
}
/*#team .team_member .card p{
	padding: 5px;
}
*/
/* contact part CSS */
#contact .contact_caption{
	text-align: center;
}

#contact .contact_how .flex1{
	padding: 10px 20px 20px 10px;
	display: flex;
	flex-wrap: wrap;
}

#contact .contact_how .flex2{
	padding: 10px 20px 20px 10px;
	display: flex;
	flex-wrap: wrap;
}

#contact .contact_how .flex1 .part1, .part2{
	width: 30%;
}

#contact .contact_how .flex2 .part3, .part4{
	width: 30%;
}

#contact .contact_how p{
	font-size: 21px;
	padding-bottom: 10px;
}

#contact .contact_how span{
	font-size: 17px;
	/*padding-bottom: 10px;*/
}

#contact .contact_how .part1, .part2, .part3, .part4{
	padding: 10px;
}
/*CSS for work with us*/
#work_with_us .work_with_us_title h3{
	padding-bottom: 25px;
	text-align: center;
	font-size: 21px;
}
#work_with_us .work_with_us_title p{
	padding-bottom: 15px;
	font-size: 17px;
	padding-bottom: 5px;
	text-align: center;
}
#work_with_us .form{
	text-align: center;
	padding: 10px;
}
#work_with_us .form .fullname input {
	/*background-color: transparent;*/
	border-style: solid;
	opacity: 0.5;
	margin-bottom: 25px;
	width: 555px;
	height: 67px;
	padding: 10px 20px;
}
#work_with_us .form .email input {
	border-style: solid;
	margin-bottom: 25px;
	opacity: 0.5;
	width: 555px;
	height: 67px;
	padding: 10px 20px;
}
#work_with_us .form .message input {
	border-style: solid;
	opacity: 0.5;
	margin-bottom: 25px;
	width: 555px;
	height: 67px;
	padding: 10px 20px;
}
#work_with_us .form .submit{
	justify-content: center;
}
#work_with_us .form .submit input {
	background-color: transparent;
	opacity: 0.6;
	margin-bottom: 25px;
	width: 300px;
	height: 40px;
	padding: 10px;
}


/*CSS for Footer */
#footer .footer_flex{
	display: flex;
	flex-wrap: wrap;
}

#footer .footer_flex .phone_number, .address{
	width: 30%;
}
#footer .footer_flex .social_site_link a{
	color: red;
	padding: 10px;
}
#footer .footer_flex .social_site_link{
	width: 40%;
	text-align: right;
}
/* css for  footer sitemap */
#footer_sitemap .sitemap p{
	text-align: center;
	padding: 5px ;
} 